body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif, 宋体; 
	font-size: 14px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff;
}

/* preserved spaces for rtl list item bullets. (#6249)*/
ol,ul,dl
{
    padding-right:40px;
}