<include file="header.html" />
<div id="left">
<include file="search_box.html"/>




<div class="box_s">
<div class="box_s_t">&nbsp;</div>
<div class="box_s_c">
<h4>最热话题</h4>
 <TABLE width="100%" border=0 cellPadding=3 cellSpacing=0>
                  <TBODY>
                    <TR>
                      <TD height=5 colspan=2></TD>
                    </TR>	
 
<CMS action="LIST" return="List" where="co.TableID=1"  TableID="1" OrderBy="CommentNum DESC"  returnKey="Title" Num="10" /> 
<LOOP name="List" var="var" key="key">
						
				<TR><TD class=f14 vAlign=top>·</TD><TD class=f14><A href="[$var.URL]" title="[$var.Title]">[@CsubStr( $var.Title , 0, 16)]</A>([$var.CommentNum]) <a href="[$PUBLISH_URL]comment.php?o=display&Id=[$var.IndexID]" target="_blank">[评]</a></TD></TR>
</LOOP>
</TBODY>
</table>

</div>
<div class="box_s_b">&nbsp;</div>
</div>


<div class="box_s">
<div class="box_s_t">&nbsp;</div>	
<div class="box_s_c">
<h4>点击排行</h4>
<CMS action="LIST" return="List" where="co.TableID=1" TableID="1" OrderBy="Hits_Total DESC"  Num="10" /> 
<LOOP name="List" var="var" key="key">
<ul>
<li> 
<a href=" [$var.URL] " target=_blank title=" [$var.Title] " >[@CsubStr($var.Title, 0, 16)] </a>
<span class='process'>(<font color='#FF6600'>[$var.Hits_Total]</font>)</span>
<!--显示文章链接，自动截取标题长度16-->
<br>
</li>
</ul> 
</LOOP> 

</div>
<div class="box_s_b">&nbsp;
</div>
</div>


<include file="../copyright.html" />


</div><!--end left-->
<div id="right">
<CMS action="LIST" return="List" TableID="1" Num="1,4"  where="c.Photo!='' AND i.Type=1"  />
<if test="!empty($List)">
<div class="box_l">
<div class="box_l_t">&nbsp;</div>
<div class="box_l_c" id="news">
<h1 id="idx_news">图片资讯</h1>
<ul>
<TABLE cellSpacing=6 cellPadding=0 width="98%" align=center border=0>
          <TBODY>
            <TR> 
<LOOP name="List" var="var" key="key"> 

			              <TD><A href="[$var.URL]" target="_blank" title=" [$var.Title] ">
						  <IMG style="BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000;border:1px" height=90 width=125 alt="" src="[@AutoMini($var.Photo,'125*90',$var)]"  ></A><BR>
                  <A   href=" [$var.URL] " target="_blank" title=" [$var.Title] ">[@CsubStr($var.Title, 0, 18)]</A></TD>
</loop>                         
            			
			</TR>
          </TBODY>
      </TABLE>
</ul>
</div>
<div class="box_l_b">&nbsp;</div>
</div>
</if>





<div class="box_l">
<div class="box_l_t">&nbsp;</div>
<div class="box_l_c" id="news">
<h1 id="idx_news">
<CMS action="NODE" return="NodeInfo" NodeGUID="com.cmsware.demo.news.hard_news" />
<A title="[$NodeInfo.Name]" href="[$NodeInfo.NodeURL]" target="_blank">[$NodeInfo.Name]</a>
</h1> 
<ul>

	<table>
	<tr>
		<td><!--重要消息图文调用-->
	<CMS action="LIST" return="List" NodeGUID="com.cmsware.demo.news.hard_news" Num="0,1"  where="c.Photo!=''"  />
	<LOOP name="List" var="var" key="key"> 
			<A class=f12 href="[$var.URL]"  title="[$var.Title]" target="_blank"><img style="BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000;border:1px" src="[@AutoMini($var.Photo,'200*160',$var)]"   vspace="2"  ></a><table width="100%" border="0" cellpadding="0" cellspacing="2"><tr><td><A class="f12black" href="[$var.URL]" target="_blank" title="[$var.Title]">[@CsubStr($var.Title, 0, 16)]</A></td></tr></table>
	</loop>	
	<op exp="$IgnoreIndexID = $var.IndexID " /><!--获取这条图片新闻的IndexID，下面的文章列表不再重复显示此图文-->
		</td>
		<td valign="top"><!--重要消息文章列表调用-->
	<CMS action="LIST" return="List" NodeGUID="com.cmsware.demo.news.hard_news" Num="10" where="c.Photo=''"  />
	<LOOP name="List" var="var" key="key"> 
			<ul class="com">
			<li>
		<if test="$var.Photo != ''" >[图]
		</if>
		<if test="$var.TitleColor != ''" >
			<A title="[$var.Title]" href="[$var.URL]" target="_blank"><font color="[$var.TitleColor]">[@CsubStr($var.Title, 0, 25)]</font></A> 
		<else>
				<A title="[$var.Title]" href="[$var.URL]" target="_blank">[@CsubStr($var.Title, 0, 19)]</A> 
			</if>
				<a href="[$PUBLISH_URL]comment.php?o=display&Id=[$var.IndexID]" target="_blank">[评论]</a></li>
				</ul>
		</LOOP> 
			</td>
		</tr>
		</table>

</ul>
</div>

	<div class="box_l_b">&nbsp;
	</div>
</div>





<!--{{{left one-->
<div class="box_m_left">
<div class="box_m_t">&nbsp;</div>
<div class="box_m_c">
<h2><a href="#" title="更多文章更新...">最新更新</a></h2>
<ul class="com">
<CMS action="LIST" return="List"  where="co.TableID=1" orderby="i.PublishDate DESC " TableID="1" num="10" />
<LOOP $List var=var key=key> 
<li><span class='date'>[@date("m-d", $var.PublishDate)]</span><a href="[$var.URL]" title="[$var.Title]">[@CsubStr($var.Title, 0, 15)] </a></li>
</LOOP> 
</ul>
</div>
<div class="box_m_b">&nbsp;</div>
</div>
<!--}}}-->


<!--{{{right one-->
<div class="box_m_right">
<div class="box_m_t">&nbsp;</div>
<div class="box_m_c">
<h3><a href="#" title="更多更新...">最新软件</a></h3>
<ul class="com">
<CMS action="LIST" return="List"  where="co.TableID=2" orderby="i.PublishDate DESC " TableID="2" num="10" />
<LOOP $List var=var key=key> 
<li><span class='date'>[@date("m-d", $var.PublishDate)]</span><a href="[$var.URL]" title="[$var.SoftName]">[@CsubStr($var.SoftName, 0, 15)] </a></li>
</LOOP> 
</ul>
</div>
<div class="box_m_b">&nbsp;</div>
</div>
<!--}}}-->



<!--{{{开始调用资讯中心下的所有子结点信息-->
<CMS action="NODELIST" return="NodeList" Type="sub" NodeGUID="com.cmsware.demo" ignore="2,17" />
<loop name="NodeList" key="keyNodeInfo" var="varNodeInfo" start="1" >
	<if test="$keyNodeInfo%2 == 0">
 		<div class="box_m_right">
	<else>
 		<div class="box_m_left">
	</if>
	<div class="box_m_t">&nbsp;</div>
	<div class="box_m_c">
	<h3><a href="[$varNodeInfo.NodeURL]" title="更多更新...">[$varNodeInfo.Name]</a></h3>
	<ul class="com">
		<CMS action="LIST" return="List"  where="co.TableID=1" NodeID="{$varNodeInfo.NodeID}" TableID="1" num="10" />
			<LOOP name="List" var="var" key="key"> 
			<li><span class='date'>[@date("m-d", $var.PublishDate)]</span><a href="[$var.URL]" title="[$var.Title]">[@CsubStr($var.Title, 0, 14)] </a></li>
			</LOOP> 
	</ul>
	</div>
	<div class="box_m_b">&nbsp;</div>
	</div>
</loop>
<!--}}}-->
</div>
<!--right end -->
<span class="cls"></span> 
</div>
<include  file="../footer.html" />
</body>
</html>